<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">

        <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
                <p>A web-based game application teaching users to apply psychological skills to combat modern Phishing attacks.</p>
            </div>
        </div>

        <div class="three wide column">
            <h4 class="ui inverted header">Quick links</h4>
            <div class="ui inverted link list">
                <a class="item" href="{{ url_for('about_bp.about') }}">About</a>
                <a class="item" href="{{ url_for('home_bp.home') }}">Home</a>
                <a class="item" href="{{ url_for('quiz_bp.quiz') }}">Play</a>
                <a class="item" href="https://github.com/uoa-compsci399-s1-2022/team19" target="_blank">GitHub</a>
            </div>
        </div>

        <div class="seven wide column">
            <h4 class="ui inverted header">Our skills</h4>
            <div class="ui inverted link list">
                <img src="../static/images/logos/python_logo.png" width="23" alt="Github logo">
                <img src="../static/images/logos/js_logo.png" width="24" alt="Github logo">
                <img src="../static/images/logos/html5_logo.png" width="23" alt="Github logo">
                <img src="../static/images/logos/css_logo.png" width="21" alt="Github logo">
            </div>
        </div>

      </div>
    </div>
</div>

