{% extends 'layout.html' %}
{% block content %}

<div id="authentication">
    <div class="ui middle aligned stackable grid container">
    <div class="formwrapper">
        <h1 class="title">{{ title }}</h1>
        <form class="ui form padded" method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="field">
                {{ form.user_name(placeholder="Enter Username") }}
                {% if form.user_name.errors or user_name_error_message is not none %}
                    <ul class="ui label aa">
                        {% if user_name_error_message is not none %}

                                {{ user_name_error_message }}

                        {% endif %}
                        {% for error in form.user_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="field">
                {{ form.password(placeholder="Enter Password") }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="ui label aa">
                        {% if password_error_message is not none %}
                            {{ password_error_message }}
                        {% endif %}
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div><input class="ui inverted button" type="submit" name="open" value="{{ title }}"></div>
            
        </form>
    </div>
    </div>
</div>

{% endblock %}

