<div class="pagination">
  <div class="ui inverted pagination menu">

    <a class="item" href="{{ url_for('quiz_bp2.quiz2', page_number = prev_page) }}">
      <i class="chevron left icon">
      </i>
    </a>

    {% for i in range(num_pages) %}
      <a class="item {{ 'active' if i == current_page }}" href="{{ url_for('quiz_bp2.quiz2', page_number = i) }}">
        {{i+1}}
      </a>
    {% endfor %}

    <a class="item" href="{{ url_for('quiz_bp2.quiz2', page_number = next_page) }}">
      <i class="chevron right icon"></i>
    </a>
</div>